<h3>Nova Categoria</h3>
<div class="card">
    <div class="card-body">
<form action="/admin/categorias/nova" method="POST">
    <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" placeholder="Nome das Categorias" class="form-control">
    <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="Slug das Categorias" class="form-control">
        <br>
        <hr>
<button type="subimit" class="btn btn-success">Criar Categoria</button>
</form>


</div>
</div>
