<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog do Silas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categorias">Categorias</a>
        </li>
{{#if user}}
    <li class="nav-item">
        <a class="nav-link enable" href="/usuarios/logout" tabindex="-1" aria-disabled="sair">Sair</a>
          </li>
      <li class="nav-item">
{{else}}


      <li class="nav-item">
        <a class="nav-link enable" href="/usuarios/login" tabindex="-1" aria-disabled="false">Login</a>
          </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/usuarios/registro" tabindex="-1" aria-disabled="false">Cadastre-se</a>
      </li>
{{/if}}
      </ul>
    </div>
  </div>
</nav>